@import url("geral.css");

#body-home{
  min-height: 100vh; 
  background: url("../images/home.png") center center / cover no-repeat;
  color: var(--cor-texto-escuro);
  padding: 20px;
    }
#home {
  width: 100%;
}

#home ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.2em; 
  align-items: center;
}

#home ul li {
 width: 400px;
}

#home ul li a {
  display: flex;
  align-items: center;
  gap: 20px;
  background: var(--cor-vinho);
  padding: 12px 24px;
  text-decoration: none;
  color: var(--texto-hover);
  font-weight: 700;
  font-size: 1.05rem;
  border-radius: 40px;
  border: 1px solid var(--sombra);
  box-shadow: var(--sombra);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  height: 4.8em;
}

#home a img {
  width: 62px;
  height: 62px;
  object-fit: contain;
  background: var(--cor-rosa-claro);
  padding: 6px;
  border-radius: 50%;
  flex-shrink: 0;
  transition: transform 0.3s ease;
}

#home ul li a:hover {
  background: var(--bg-card);
  color: var(--cor-texto-escuro);
  border:5px solid var(--cor-vinho);
  transform: translateY(-4px); 
  box-shadow: 0 15px 30px var(--sombra);
}


#home ul li a:hover img {
  background: var(--sombra);
}
@media (max-width: 480px) { 
  #home ul li {
    width: 100%;
   }
  
}