* {
    box-sizing: border-box;
  }
  body {
    margin: 0;
    background:#dfe3df;
    min-height: 100vh;
}
#precos{
    background: url("../images/fundo.png") top right / 150px no-repeat;
    display: flex;
     flex-direction: column;
     align-items: start;
      margin-left: 2em;
     gap: 1em;
     padding: 2em 25px 40px;
}
 #precos h1 a{
    font-family: "Brush Script MT", cursive;
    text-decoration: none;
    color: #a76063;
    font-size: 64px;
    font-weight: 400;
    margin: 0;
    line-height: 1;
    
  }
    


.servico{
     display: flex;
     flex-direction: column;
     align-items: end;
      padding: 0;

}
.servico-titulo{
     display: flex;
    gap: 20px;
    height: 4.5em;
    color: #dfe3df;
    border: 2px solid #dfe3df;
    background: #c79395;
    border-radius: 40px;
    display: flex;
    align-items: center;
    gap: 22px;
    padding: 1em 1em 2em 1em;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 1em;
  

}
.servico-titulo img{
    width: 50px;
     border-radius: 50%;
}

 p{

    margin-top: 0;
   color: #994a4e;
     font-size: 2em;
      
}

@media (min-width: 560px) {
    #precos{
        background: url("../images/fundo.png") top right / 250px no-repeat;
        display: flex;
         flex-direction: column;
         align-items: center;
         gap: 2em;
         padding: 2em 25px 40px;

    }
}